header nav div {
    display: inline-block;
}

.center-nav {
    margin-left: 200px;
    margin-right: 90px;
}
.fa-bars {
    margin-right: 20px;
}
.bold {
font-weight: 900;
}

.fa-youtube {
    color: red;
}

input {
    border: none;
    outline: none;
    width: 400px;
}

.lupa {
    padding: 6.5px 15px 5px;
    /* margin-left: -4px; */

}

.fa-microphone {
    margin-left: 10px;
}

.right-nav i {
    margin: 3px;
} 

.video {
    margin-top: 18px;
    width: 598px;
    height: 308px; 
}   

.thumbs,
.share,
.ellips {
    color: rgb(126, 118, 118);
    font-size: 16px;
    cursor: pointer;
}
main {
    
    background-color: rgb(253, 247, 247);
    width: 700px;
    display: inline-block;
    margin-left: 1px;
}

.border {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 0;
}

.fa-check-circle {
    color: rgb(243, 240, 240) ;
    font-size: 10px;
}

.podpischiki {
    font-size: 11px;
    color: rgb(126, 118, 118);
    margin-top: 0px;
}

.pros-data {
    float: left;
    font-size: 13px;
}
.xxx {
    float: right;
    font-size: 10px;
}

.div-glav {
    border-bottom: 1px solid red;
;

}

.imgine {
    float: left;
    border-radius: 50%;
}
button {
    float: right;
    padding: 5px 10px;
    /* width: 200px; */
    clear: both;
}
p {
    margin-left: 70px;
}
.shax {
    margin-bottom: 0px;
    width: 300px;
}
.podpis {
    margin-top: 0px;
    /* width: 300px; */
}

.fa-align-right {
    margin-left: 25px;
}

.com {
    margin-left: 20px;
}

.Ilgar {
    width: 35px;
    border-radius: 50%;
    float: left;
    display: inline-block;
    margin-top: 10px;
}

.foto-comment {
    margin-right: 1px;
}

.mamedov {
    margin-bottom: 0px;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
}
.azer {
    margin-top: 8px;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
    
}
.spane {
    font-weight: bold ;
}

.like-dislike {
    font-size: 12px;
    color: rgb(77, 73, 73);
    margin-bottom: 5px;
}

.javoblar {
    margin-top: 5px;
    color: rgb(24, 102, 180);
    font-size: 13px;
    font-weight: 900;
}

.fa-thumbs-up {
    margin-right: 10px;
}

.fa-thumbs-down {
    margin-left: 10px;
    margin-right: 10px;
}

.fa-caret-down {
    margin-right: 10px;
}

.comments-one {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

aside {
    background-color: rgb(253, 247, 247);
    height: 500px;
    float: right;
    width: 339px;
    padding: 10px;
    margin-top: 9px;
}

.shaxzoda {
    float: left;
    width: 150px;
    margin-left: 8px;
    margin-right: 4px;
}

.ming-shukr {
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 0px;
}

.Riza {
    font-size: 11px;
    color: darkgrey;
    margin-top: 4px;
    margin-bottom: 2px;
}

.fa-check-circle {
    color: rgb(88, 90, 90);
}

.mln-prosmotr,
.mesyats {
    font-size: 11px;
    color: darkgrey; 
    margin-bottom: 3px;
    margin-top: 3px; 

}
















